Source: ros-humble-libnabo
Section: misc
Priority: optional
Maintainer: Stéphane Magnenat <stephane.magnenat@mavt.ethz.ch>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libeigen3-dev, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-libnabo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-humble-ros-workspace
Description: libnabo is a fast K Nearest Neighbour library for low-dimensional spaces.
